@import url("https://fonts.googleapis.com/css?family=Muli:300,700|Nunito");

body {
    background: #ffffff;
    font-family: "Nunito", sans-serif;
    overflow-x: hidden;
    padding-top: 70px;
}

/*---------------------------------------
   TYPOGRAPHY              
-----------------------------------------*/

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Muli", sans-serif;
    font-weight: bold;
    line-height: inherit;
}

h1 {
    color: #252525;
    font-size: 3em;
    line-height: normal;
}

h2 {
    color: #fff;
    font-size: 2em;
    padding-bottom: 10px;
}

h3 {
    font-size: 1.5em;
    margin-bottom: 0;
}

h3,
h3 a {
    color: #454545;
}

p {
    color: #757575;
    font-size: 14px;
    font-weight: normal;
    line-height: 24px;
}

/*---------------------------------------
   GENERAL               
-----------------------------------------*/

html {
    -webkit-font-smoothing: antialiased;
}

a {
    color: #252525;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    text-decoration: none !important;
}

a,
input,
button,
.form-control {
    -webkit-transition: 0.5s;
    transition: 0.5s;
}

a:hover,
a:active,
a:focus {
    color: #147db4;
    outline: none;
}

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

::-webkit-scrollbar-thumb {
    cursor: pointer;
    background: #000000;
}

.section-title {
    padding-bottom: 40px;
}

.section-title h2 {
    margin: 0;
}

.section-title small {
    display: block;
}

.overlay {
    background: rgba(20, 20, 20, 0.5);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

section {
    position: relative;
    padding: 100px 0;
}

#team,
#commitments {
    background: #f9f9f9;
}

#team,
#commitments {
    text-align: center;
}

#google-map iframe {
    border: 0;
    width: 100%;
    height: 390px;
}

/*---------------------------------------
   BUTTONS               
-----------------------------------------*/

.section-btn {
    background: transparent;
    border-radius: 50px;
    border: 1px solid #ffffff;
    color: #ffffff;
    font-size: inherit;
    font-weight: normal;
    padding: 15px 30px;
    transition: 0.5s;
}

.section-btn:hover {
    background: #ffffff;
    border-color: transparent;
}

/*---------------------------------------
     PRE LOADER              
-----------------------------------------*/

.preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 99999;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    background: none repeat scroll 0 0 #ffffff;
}

.spinner {
    border: 1px solid transparent;
    border-radius: 3px;
    position: relative;
}

.spinner:before {
    content: "";
    box-sizing: border-box;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 45px;
    height: 45px;
    margin-top: -10px;
    margin-left: -10px;
    border-radius: 50%;
    border: 1px solid #575757;
    border-top-color: #ffffff;
    animation: spinner 0.9s linear infinite;
}

@-webkit-@keyframes spinner {
    to {
        transform: rotate(360deg);
    }
}

@keyframes spinner {
    to {
        transform: rotate(360deg);
    }
}

/*---------------------------------------
    MENU              
-----------------------------------------*/

.custom-navbar {
    background: #ffffff;
    border-top: 5px solid #147db4;
    border-bottom: 0;
    -webkit-box-shadow: 0 1px 30px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 1px 30px rgba(0, 0, 0, 0.1);
    box-shadow: 0 1px 30px rgba(0, 0, 0, 0.1);
    padding: 12px 0;
    margin-bottom: 0;
    padding: 0;
}

.custom-navbar .navbar-brand {
    color: #454545;
    font-size: 18px;
    font-weight: bold;
    line-height: 40px;
    padding: 10px 15px;
}

.custom-navbar .navbar-nav.navbar-nav-first {
    margin-left: 12em;
}

.custom-navbar .navbar-nav.navbar-right li a {
    padding-right: 12px;
    padding-left: 12px;
}

.custom-navbar .navbar-nav.navbar-right li a .fa {
    background: #147db4;
    border-radius: 100%;
    color: #ffffff;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    display: inline-block;
    margin-right: 5px;
}

.custom-navbar .nav li a {
    line-height: 40px;
    color: #575757;
    padding-right: 22px;
    padding-left: 22px;
}

.custom-navbar .navbar-nav > li > a:hover,
.custom-navbar .navbar-nav > li > a:focus {
    background-color: transparent;
}

.custom-navbar .nav li a:hover {
    background-color: #147db4;
    color: #ffffff;
}

.custom-navbar .nav li.active > a {
    background-color: #147db4;
    color: #ffffff;
}

.custom-navbar .navbar-toggle {
    border: none;
    padding-top: 10px;
}

.custom-navbar .navbar-toggle {
    background-color: transparent;
}

.custom-navbar .navbar-toggle .icon-bar {
    background: #252525;
    border-color: transparent;
}

.navbar-brand > img {
    display: inline-block;
    height: 45px;
}

/*---------------------------------------
    HOME  & SLIDER            
-----------------------------------------*/

#home {
    padding: 0;
}

#home h1 {
    color: #ffffff;
}

#home h3 {
    color: #f9f9f9;
    font-size: 16px;
    font-weight: 300;
    margin: 0;
    padding: 5px 0 40px 0;
}

@media (min-width: 768px) {
    .home-slider .col-md-6 {
        padding-left: 0;
    }
}

.home-slider .caption {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: left;
    background-color: rgba(20, 20, 20, 0.2);
    height: 100%;
    color: #fff;
    cursor: e-resize;
}

.home-slider .item {
    background-repeat: no-repeat;
    background-attachment: local;
    background-size: cover;
    height: 650px;
}

.caption h3 a {
    color: #fff;
}
.caption h3 a:hover {
    color: #ff3;
}

.image-slider-container {
    background: rgba(0, 4, 7, 0.4);
    padding: 0px 15px;
    border-radius: 5px;
}
.image-slider-container h2 {
    padding: 10px;
}

.home-slider .item-first {
    background-image: url(../images/slider1.jpg);
    background-position: center;
}

.home-slider .item-second {
    background-image: url(../images/slider2.jpg);
    background-position: center;
}

.home-slider .item-third {
    background-image: url(../images/slider3.jpg);
    background-position: center;
}

/*---------------------------------------
    ABOUT              
-----------------------------------------*/

#about figure {
    display: inline-block;
    vertical-align: top;
    margin-left: 15px;
}

#about figure span {
    float: left;
    margin-left: -15px;
    padding: 15px 20px;
    position: relative;
    top: 20px;
}

#about figure span i {
    background: #147db4;
    border-radius: 50px;
    color: #ffffff;
    font-size: 25px;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
}

.about-info p {
    font-size: 20px;
}

/*---------------------------------------
    TEAM              
-----------------------------------------*/

.team-thumb {
    background: #ffffff;
    position: relative;
    overflow: hidden;
    text-align: left;
}

.team-info {
    padding-top: 50px;
    height: 165px;
    vertical-align: middle;
    text-align: center;
}

.team-image img {
    width: 100%;
}

.team-thumb .social-icon {
    border-top: 1px solid #f0f0f0;
    padding: 4px 20px 0 20px;
}

.team-thumb .social-icon li a {
    background: #ffffff;
    color: #252020;
}

.team-info h3 {
    margin: 0;
}

/*---------------------------------------
    commitments             
-----------------------------------------*/

#commitments .item {
    margin: 20px 0;
    padding: 4em 3em;
    text-align: left;
}

#courses .col-md-4,
#commitments .col-md-4 {
    display: block;
    width: 100%;
}

#commitments .item > p {
    font-size: 16px;
    line-height: 26px;
}

.commit {
    text-align: center;
    padding: 25px 0;
}
.commit i {
    color: #03354e;
}

.commit span {
    color: #808080;
    font-size: 14px;
}

/*---------------------------------------
    CONTACT             
-----------------------------------------*/

#contact {
    background: #03354e;
}

#contact h2 {
    color: #ffffff;
}

#contact .section-title {
    padding-bottom: 20px;
}

#contact h2 > small,
#contact p,
#contact a {
    color: #f9f9f9;
}

#contact-form {
    padding: 1em 0;
}

#contact-form .col-md-12,
#contact-form .col-md-4 {
    padding-left: 0;
}

#contact-form .form-control {
    border: 0;
    border-radius: 5px;
    box-shadow: none;
    margin: 10px 0;
}

#contact-form input {
    height: 50px;
}

#contact-form input[type="submit"] {
    border-radius: 50px;
    border: 1px solid transparent;
}

#contact-form input[type="submit"]:hover {
    background: transparent;
    border-color: #ffffff;
    color: #ffffff;
}

/*---------------------------------------
   FOOTER              
-----------------------------------------*/

footer {
    background: #252020;
    padding: 120px 0;
}

footer .section-title {
    padding-bottom: 10px;
}

footer h2 {
    font-size: 20px;
}

footer a,
footer p {
    color: #909090;
}

footer strong {
    color: #d9d9d9;
}

footer address p {
    margin-bottom: 0;
}

footer .social-icon {
    margin-top: 25px;
}

.footer-info {
    margin-right: 2em;
}

.footer-info h2 {
    color: #ffffff;
    padding: 0;
}

.footer_menu h2 {
    margin-top: 2em;
}

.footer_menu ul {
    margin: 0;
    padding: 0;
}

.footer_menu li {
    display: inline-block;
    list-style: none;
    margin: 5px 10px 5px 0;
}

/*---------------------------------------
   RESPONSIVE STYLES              
-----------------------------------------*/

@media screen and (max-width: 1170px) {
    .custom-navbar .navbar-nav.navbar-nav-first {
        margin-left: inherit;
    }
}

@media only screen and (max-width: 992px) {
    section,
    footer {
        padding: 60px 0;
    }

    .home-slider .item {
        background-position: center center;
    }

    .about-info,
    .team-thumb,
    .footer-info {
        margin-bottom: 50px;
    }

    .contact-image {
        margin-top: 50px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .custom-navbar .nav li a {
        padding-right: 10px;
        padding-left: 10px;
    }
}

@media only screen and (max-width: 767px) {
    h1 {
        font-size: 2.5em;
    }

    h1,
    h2,
    h3 {
        line-height: normal;
    }

    .custom-navbar {
        background: #ffffff;
        -webkit-box-shadow: 0 1px 30px rgba(0, 0, 0, 0.1);
        -moz-box-shadow: 0 1px 30px rgba(0, 0, 0, 0.1);
        box-shadow: 0 1px 30px rgba(0, 0, 0, 0.1);
        padding: 10px 0;
        text-align: center;
    }

    .custom-navbar .navbar-brand,
    .custom-navbar .nav li a {
        line-height: normal;
    }

    .custom-navbar .nav li a {
        padding: 10px;
    }

    .custom-navbar .navbar-brand,
    .top-nav-collapse .navbar-brand {
        color: #252525;
        font-weight: 600;
    }

    .custom-navbar .nav li a,
    .top-nav-collapse .nav li a {
        color: #575757;
    }

    .custom-navbar .navbar-nav.navbar-right li {
        display: inline-block;
    }

    .footer-info {
        margin-right: 0;
    }

    .entry-form {
        display: block;
        margin: 0 auto;
    }
}

@media only screen and (max-width: 580px) {
    h2 {
        font-size: 1.8em;
    }

    #commitments .item {
        padding: 2em;
    }

    .contact-image {
        margin-top: 0;
    }
}

@media only screen and (max-width: 480px) {
    h1 {
        font-size: 2em;
    }

    #home h3 {
        font-size: 14px;
    }
}

.card {
    border: 1px solid #f0f0f0;
    padding: 2em;
    height: 350px;
    vertical-align: middle;
    display: table-cell;
}

.float {
    position: fixed;
    width: 60px;
    height: 60px;
    bottom: 40px;
    right: 40px;
    z-index: 9;
    background-color: #40c351;
    color: #fff;
    border-radius: 50px;
    text-align: center;
    box-shadow: 2px 2px 3px #999;
    padding: 5px;
}

.my-float {
    margin-top: 22px;
}
